<h1 class="h4 text-center">{{ room.getName() }} tt</h1>
<input type="hidden" id="hid_nbseats" value="{{ room.nbSeats }}" />
{% for seat in room.getSeats() %}
	<div class="row no-gutters w-100 bg-light text-dark" style="margin-bottom: 10px;">
		<ul id="ul_player_list" class="no-gutters">
			<li class="font-weight-bold">{{ "Seat"|trans }}: {{ seat.getPosition() }}</li>
			{% if seat.getUserId() is not null %}
				<li class="seat_user font-weight-bold">
					{{ "Player"|trans }}: {{ seat.getUserId().getUsername() }}
					<input type="hidden" class="hid_player_data" data-playerid="{{ seat.getUserId().getId() }}" data-playername="{{ seat.getUserId().getUsername() }}">
				</li>
			{% else %}
				<li class="font-weight-bold">{{ "Waiting for player"|trans }}</li>
			{% endif %}
		</ul>
	</div>
{% endfor %}