{% extends 'base_bt.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

	<div id="cont_alert" class="alert alert-primary">
		<ul>
			<li>{{ app.user.getId() }}</li>
		</ul>		
	</div>
	<div id="board" class="col col-9 h-100 bg-secondary"></div>	
	<input type="hidden" id="hid_player_id" value="{{ app.user.getId() }}" />

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('https://code.jquery.com/jquery-3.2.1.min.js') }}"></script>

	<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
	<script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js?45') }}"></script>

	<script type="text/javascript" src="{{ asset('js/p5/p5.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/p5/addons/p5.dom.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/sketches/tools.js') }}"></script>

	<script src="{{ asset('js/sketches/checkers/checkers_test2.js') }}"></script>
{% endblock %}